.gallery {
  background-image: url("../img/1920/birmingham-museums-trust.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery__container {
  padding-top: 80px;
  padding-bottom: 70px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.gallery__content {
  flex-basis: 25%;
  /* min-width: 280px; */
  min-height: 845px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.gallery__title {
  margin-bottom: 16px;
  font-weight: 400;
  color: #FFFFFF;
}

.gallery__span {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 600;
  color: #FFFFFF;
}
/*----------------------селект----------------------------*/
.gallery__form {
  margin-bottom: auto;
}

.choices__inner {
  min-height: unset;
  padding: 0 0 0 10px;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
  background-color: transparent;
}

.choices[data-type*=select-one] .choices__inner {
  padding-top: 1px;
  padding-bottom: 1px;
  border-radius: 6px;
}

.choices[data-type*=select-one]:after {
  content: url("../img/1920/Rectangle\ 66.svg");
  top: 15%;
  right: 3.5%;
  width: auto;
  height: auto;
  border-style: unset;
}

.choices[data-type*=select-one].is-open:after {
  top: 40%;
  transform: rotate(180deg);
}

#choices--selectCustom-item-choice-1 {
  display: none;
}

.choices__list--dropdown .choices__item {
  padding: 3px 0 2px 20px;
  font-size: 16px;
  border: 1px solid transparent;
}

.choices__list--dropdown,
.choices__list--dropdown .choices__item--selectable.is-highlighted {
  border-radius: 6px;
  background-color: transparent;
  color: #999999;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  border: 1px solid #ffffff;
  background-color: rgb(255, 255, 255, .2);
  
}

.choices__placeholder {
  opacity: 1;
}

.choices__list--dropdown .choices__item--selectable:after {
  content: none; /*отключение data-select-text="Press to select"*/
}
/*--------------------------------------------------------*/
.gallery__description {
  margin: 0;
  font-weight: 600;
  color: #ffffff;
}

.gallery__description-768 {
  display: none;
}

.gallery__link {
  color: var(--focus-color);
  border-bottom: 2px solid transparent;
  transition: color, border-color .2s ease-in-out;
}

.gallery__link:hover,
.gallery__link:focus {
  border-color: var(--focus-color);
}

.gallery__link:active {
  color: var(--active-color);
}
/*---------------------слайдер----------------------------*/

.gallery__swiper-container {
  flex-basis: 71.8%;
  height: 845px;
  margin: 0;
  padding: 85px 0 5px 0;
}

.gallery__slide {
  height: auto;
}

.gallery__img-link {
  position: relative;
  width: 100%;
  height: 100%;
  line-height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery__img-link::before {
  position: absolute;
  content: url("../img/1920/search+.svg");
  top: 25px;
  bottom: 25px;
  left: 25px;
  right: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity .2s;
  opacity: 0;
}

.gallery__img-link::after {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
  border: 2px solid #D1A9F0;
  transition: opacity .2s;
  opacity: 0;
}

.gallery__img-link:hover::before,
.gallery__img-link:focus::before,
.gallery__img-link:active::after {
  opacity: 1;
}

.gallery__img {
  width: 100%;
  height: 100%;
}

/*-----------------*/
.gallery__swiper-button-prev,
.gallery__swiper-button-next {
  width: 30px;
  height: 30px;
  top: 47px;
  padding-bottom: 4px;
  border-radius: 50%;
  background-color: #666666;
  transition-duration: .2s;
}

.gallery__swiper-button-prev {
  left: 2px;
  padding-right: 2px;
}

.gallery__swiper-button-next {
  left: 102px;
  right: auto;
  padding-left: 3px;
}

.gallery__swiper-button-prev:after, .swiper-container-rtl .gallery__swiper-button-next:after {
  content: url("../img/1920/left.svg");
  line-height: 0;
}

.gallery__swiper-button-next:after, .swiper-container-rtl .gallery__swiper-button-prev:after {
  content: url("../img/1920/right.svg");
  line-height: 0;
}

.gallery__swiper-pagination {
  top: 25px;
  left: 51px;
  width: unset;
  color: #ffffff;
}

.gallery__swiper-button-prev:hover,
.gallery__swiper-button-next:hover {
  background-color: var(--focus-color);
}

.gallery__swiper-button-prev:active,
.gallery__swiper-button-next:active {
  background-color: var(--active-color);
  border: 2px solid #D1A9F0;
}

@media (max-width: 1400px) {
  .gallery__img {
    max-height: 280px;
  }

  .gallery__content {
    min-height: 689px;
    flex-basis: 30.3%;
  }

  .gallery__swiper-container {
    height: 689px;
    flex-basis: 64.3%;
  }
}

@media (max-width: 850px) {
  .gallery__container {
    flex-direction: column;
    justify-content: flex-start;
  }

  .gallery__content {
    width: 42%;
    min-height: 245px;
  }

  .gallery__swiper-container {
    width: 100%;
    height: 710px;
  }

  .gallery__description {
    display: none;
  }

  .gallery__description-768 {
    display: block;
  }
}

@media (max-width: 600px) {
  .gallery__container {
    padding-top: 50px;
    padding-bottom: 70px;
  }

  .gallery__content {
    width: 100%;
    min-height: 245px;
  }

  .gallery__title {
    margin-bottom: 11px;
    font-size: 28px;
    line-height: 38px;
  }

  .gallery__span {
    margin-bottom: 5px;
  }



  .gallery__swiper-container {
    height: unset;
    min-height: 367px;
    margin-bottom: 20px;
    padding-top: 0;
    padding-bottom: 50px;
  }

  .gallery__img {
    min-height: 367px;
  }

  .gallery__swiper-button-prev, .gallery__swiper-button-next {
    top: unset;
    bottom: 0;
  }

  .gallery__swiper-button-next {
    left: 62%;
  }

  .gallery__swiper-button-prev {
    left: 27.5%;
  }

  .gallery__swiper-pagination {
    top: unset;
    bottom: -2px;
    left: 43%;
  }
}