.main {
  margin-top: -170px;
}

.hero {
  position: relative;
  width: 100%;
  min-height: 800px;
}

.hero__swiper-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background);
  z-index: -10;
}

.hero__slide {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  animation: back-size-animation 40s alternate linear infinite;
}

.hero__slide--1 {
  background-image: url("../img/1920/birmingham-museums-trust-MK_98NuC4-4-unsplash\ 1.jpg");
}

.hero__slide--2 {
  background-image: url("../img/1920/birmingham-museums-trust-MK_98NuC4-4-unsplash\ 2.jpg");
}

.hero__slide--3 {
  background-image: url("../img/1920/birmingham-museums-trust-MK_98NuC4-4-unsplash\ 3.jpg");
}

@keyframes back-size-animation {
  0% {
    background-size: 100% 100%;
  }

  25% {
    background-size: 115% 115%;
  }

  50% {
    background-size: 130% 130%;
  }

  75% {
    background-size: 115% 115%;
  }

  100% {
    background-size: 100% 100%;
  }
}

.hero__container {
  padding-top: 239px;
}

.hero__content {
  max-width: 600px;
}

.hero__title {
  margin-bottom: 19px;
  font-size: 72px;
  line-height: 84px;
  color: #FFFFFF;
}

.hero__description {
  margin-top: 0;
  margin-bottom: 92px;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: #FFFFFF;
}

.hero__link {
  display: inline-block;
  padding: 20px 33px;
  border-radius: 100px;
  border-color:  transparent;
  color: #FFFFFF;
  background-color: var(--focus-color); 
}

.hero__link:focus,
.hero__link:hover {
  border-color: #D1A9F0;
}

.hero__link:active {
  background-color: var(--active-color);
}

@media (max-width: 1400px) {
  .hero__slide--1 {
    background-image: url("../img/1024/birmingham-museums-trust-MK_98NuC4-4-unsplash\ 1.jpg");
  }
  
  .hero__slide--2 {
    background-image: url("../img/1024/birmingham-museums-trust-MK_98NuC4-4-unsplash\ 2.jpg");
  }
  
  .hero__slide--3 {
    background-image: url("../img/1024/birmingham-museums-trust-MK_98NuC4-4-unsplash\ 3.jpg");
  }
}

@media (max-width: 1024px) {
  .main {
    margin-top: -132px;
  }

  .hero__container {
    padding-top: 244px;
  }

  .hero__content {
    max-width: 655px;
  }

  .hero__title {
    margin-bottom: 10px;
  }

  .hero__description {
    margin-bottom: 133px;
  }
}

@media (max-width: 600px) {
  .hero {
    min-height: 442px;
  }

  .hero__slide--1 {
    background-image: url("../img/768/birmingham-museums-trust-MK_98NuC4-4-unsplash\ 1.jpg");
  }
  
  .hero__slide--2 {
    background-image: url("../img/768/birmingham-museums-trust-MK_98NuC4-4-unsplash\ 2.jpg");
  }
  
  .hero__slide--3 {
    background-image: url("../img/768/birmingham-museums-trust-MK_98NuC4-4-unsplash\ 3.jpg");
  }

  .hero__container {
    padding-top: 165px;
  }

  .hero__content {
    text-align: center;
  }

  .hero__title {
    margin-bottom: 15px;
    font-size: 32px;
    line-height: 36px;
  }

  .hero__description {
    padding: 0 10px;
    margin-bottom: 41px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }

  .hero__link {
    padding: 9px 16px;
    font-size: 12px;
    line-height: 16px;
  }
}















